<div>
  <h2 class="text-xl font-medium">Chỉnh sửa thông tin cá nhân</h2>
  <form nz-form [formGroup]="form">
    <nz-form-item class="no-margin">
      <nz-form-label nzSpan="6" nzRequired nzFor="name" class="font-medium"
        >Mật khẩu cũ</nz-form-label
      >
      <nz-form-control [nzErrorTip]="oldPasswordValueTpl">
        <nz-input-group [nzSuffix]="suffixTemplate">
          <input
            nz-input
            formControlName="oldPassword"
            [type]="!isOldPasswordVisible ? 'text' : 'password'"
            id="title"
            class="tw-w-full"
            placeholder="Mật khẩu cũ"
          />
          <ng-template #oldPasswordValueTpl let-control>
            <ng-container *ngIf="!form.get('oldPassword')?.value">{{
              "Trường này bắt buộc"
            }}</ng-container>
            <ng-container
              *ngIf="form.get('oldPassword')?.hasError('whitespace')"
              >{{ "Vui lòng nhập mật khẩu cũ hợp lệ" }}</ng-container
            >
          </ng-template>
          <ng-template #suffixTemplate>
            <i
              nz-icon
              [nzType]="isOldPasswordVisible ? 'eye-invisible' : 'eye'"
              (click)="isOldPasswordVisible = !isOldPasswordVisible"
            ></i>
          </ng-template>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="no-margin">
      <nz-form-label nzSpan="6" nzRequired nzFor="fullname" class="font-medium"
        >Mật khẩu mới</nz-form-label
      >
      <nz-form-control [nzErrorTip]="newPasswordValueTpl">
        <nz-input-group [nzSuffix]="suffixNewPasswordTemplate">
          <input
            nz-input
            formControlName="newPassword"
            id="newPassword"
            class="tw-w-full"
            [type]="!isNewPasswordVisible ? 'text' : 'password'"
            type="password"
            placeholder="Mật khẩu mới"
          />
          <ng-template #newPasswordValueTpl let-control>
            <ng-container *ngIf="!form.get('newPassword')?.value">{{
              "Trường này bắt buộc"
            }}</ng-container>
            <ng-container
              *ngIf="
                form.get('newPassword')?.value &&
                form.get('newPassword')?.hasError('passwordStrength')
              "
              >{{ "Vui lòng nhập mật khẩu hợp lệ" }}</ng-container
            >
          </ng-template>
          <ng-template #suffixNewPasswordTemplate>
            <i
              nz-icon
              [nzType]="isNewPasswordVisible ? 'eye-invisible' : 'eye'"
              (click)="isNewPasswordVisible = !isNewPasswordVisible"
            ></i>
          </ng-template>
        </nz-input-group>
        <p class="text-[14px] text-gray-500">
          Ex: Mật khẩu cần chứa ít nhất 8 kí tự, tối thiểu gồm 1 hoa, 1 số, 1
          thường
        </p>
      </nz-form-control>
    </nz-form-item>
    <div class="flex justify-end mt-4 gap-2">
      <button nz-button nzType="default" (click)="onDestroyModal()">Hủy</button>
      <button
        nz-button
        type="button"
        nzType="primary"
        [disabled]="form.invalid || form.pristine"
        (click)="update()"
      >
        Gửi
      </button>
    </div>
  </form>
</div>
