<div>
  <h2 class="text-xl font-medium">Change password</h2>
  <form nz-form [formGroup]="form">
    <nz-form-item class="no-margin">
      <nz-form-label nzSpan="6" nzRequired nzFor="name" class="font-medium"
        >Old password</nz-form-label
      >
      <nz-form-control [nzErrorTip]="oldPasswordValueTpl">
        <nz-input-group [nzSuffix]="suffixTemplate">
          <input
            nz-input
            formControlName="oldPassword"
            [type]="!isOldPasswordVisible ? 'text' : 'password'"
            id="title"
            class="tw-w-full"
            placeholder="Old password"
          />
          <ng-template #oldPasswordValueTpl let-control>
            <ng-container *ngIf="!form.get('oldPassword')?.value">{{
              "This field is required"
            }}</ng-container>
            <ng-container
              *ngIf="form.get('oldPassword')?.hasError('whitespace')"
              >{{ "Please enter a valid old password" }}</ng-container
            >
          </ng-template>
          <ng-template #suffixTemplate>
            <i
              nz-icon
              [nzType]="isOldPasswordVisible ? 'eye-invisible' : 'eye'"
              (click)="isOldPasswordVisible = !isOldPasswordVisible"
            ></i>
          </ng-template>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="no-margin">
      <nz-form-label nzSpan="6" nzRequired nzFor="fullname" class="font-medium"
        >New password</nz-form-label
      >
      <nz-form-control [nzErrorTip]="newPasswordValueTpl">
        <nz-input-group [nzSuffix]="suffixNewPasswordTemplate">
          <input
            nz-input
            formControlName="newPassword"
            id="newPassword"
            class="tw-w-full"
            [type]="!isNewPasswordVisible ? 'text' : 'password'"
            type="password"
            placeholder="New password"
          />
          <ng-template #newPasswordValueTpl let-control>
            <ng-container *ngIf="!form.get('newPassword')?.value">{{
              "This field is required"
            }}</ng-container>
            <ng-container
              *ngIf="
                form.get('newPassword')?.value &&
                form.get('newPassword')?.hasError('passwordStrength')
              "
              >{{ "Please enter a valid new password" }}</ng-container
            >
          </ng-template>
          <ng-template #suffixNewPasswordTemplate>
            <i
              nz-icon
              [nzType]="isNewPasswordVisible ? 'eye-invisible' : 'eye'"
              (click)="isNewPasswordVisible = !isNewPasswordVisible"
            ></i>
          </ng-template>
        </nz-input-group>
        <p class="text-[14px] text-gray-500">
          Ex: Password must contain at least 8 characters, minimum 1 uppercase, 1 lowercase, 1 number
        </p>
      </nz-form-control>
    </nz-form-item>
    <div class="flex justify-end mt-4 gap-2">
      <button nz-button nzType="default" (click)="onDestroyModal()">Cancel</button>
      <button
        nz-button
        type="button"
        nzType="primary"
        [disabled]="form.invalid || form.pristine"
        (click)="update()"
      >
        Send
      </button>
    </div>
  </form>
</div>
