<div class="bg-white p-4  px-6 mt-4">
  <div class="mt-4 flex justify-between items-center">
    <h1 class="text-xl font-extrabold">Holiday information</h1>
    <button nz-button nzType="primary" (click)="onAddHoliday()">
        <i nz-icon nzType="plus" nzTheme="outline"></i>
        Add holiday
      </button>
  </div>
  <div class="mt-2">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
        <input type="text" nz-input placeholder="Holiday name" [(ngModel)]="keyword" (keyup.enter)="getHolidayData()"/>
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch aria-label="Search"><nz-icon nzType="search" (click)="getHolidayData()"/></button>
      </ng-template>
  </div>
 <div class="mt-5">
    <nz-table
    [nzData]="dataSource"
    [nzTotal]="tableConfig.totalRecords"
    appNzTableDefaultSetting
    [nzScroll]="{ x: '1200px' }"
    nzSize="small"
    [nzPageSizeOptions]="pageSizeOptions"
    [nzShowPagination]="true"
    [nzShowTotal]="totalTpl"
    [(nzPageIndex)]="tableConfig.pageIndex"
    [(nzPageSize)]="tableConfig.pageSize"
    (nzPageIndexChange)="onChangePageIndex($event)"
    (nzPageSizeChange)="onPageSizeChange($event)"
    [nzFrontPagination]="false"
  >
    <ng-template #totalTpl let-total let-range="range">
      <span>{{ range[0] }} - {{ range[1] }} of {{ total }} {{ "holidays" }}</span>
    </ng-template>
    <thead>
      <tr>
        <th nzWidth="15%" id="title">
          {{ "Holiday name" }}
        </th>
        <th nzWidth="15%" id="fromDate">
          {{ "Start date" }}
        </th>
        <th nzWidth="15%" id="toDate">
          {{ "End date" }}
        </th>
        <th nzWidth="38%" id="description">
          {{ "Description" }}
        </th>
        <th nzWidth="10%" id="status">
          {{ "Annual holiday" }}
        </th>
        <th class="tw-max-w-[150px] tw-text-center" id="action"></th>
      </tr>
    </thead>
    <tbody>
      @for (holiday of dataSource; track holiday.id) {
      <tr class="cursor-pointer" (click)="openEditTask(holiday)">
        <td>{{ holiday.name }}</td>
        <td>
          {{ holiday.fromDate | date : "dd/MM/yyyy" }}
        </td>
        <td>
          {{ holiday.toDate | date : "dd/MM/yyyy" }}
        </td>
        <td>
          <app-read-more [value]="holiday.description" [length]="100"></app-read-more>
        </td>
        <td [nzChecked]="holiday.isAnnualHoliday" (click)="onChangeAnnualHoliday(holiday, $event)"></td>
        <td class="flex justify-center">
          <button
            nz-button
            nzType="primary"
            nzDanger
            (click)="deleteTask(holiday.id, $event)"
          >
            Delete
          </button>
        </td>
      </tr>
      }
    </tbody>
  </nz-table>
 </div>
  
</div>
