<div>
    @if (data.data) {
      <h2 class="text-xl font-medium">Chỉnh sửa ngày nghỉ</h2>
    } @else {
      <h2 class="text-xl font-medium">Thêm mới ngày nghỉ</h2>
    }
    <form nz-form [formGroup]="form">
      <nz-form-item class="no-margin">
        <nz-form-label nzSpan="6" nzRequired nzFor="name" class="font-medium">Tên ngày nghỉ</nz-form-label>
        <nz-form-control [nzErrorTip]="titleValueTpl">
          <input nz-input formControlName="name" id="name" class="tw-w-full" placeholder="Tên ngày nghỉ" />
          <ng-template #titleValueTpl let-control>
            <ng-container *ngIf="!form.get('name')?.value">{{ 'Trường này bắt buộc' }}</ng-container>
            <ng-container *ngIf="form.get('name')?.hasError('whitespace')">{{ 'Vui lòng nhập tên ngày nghỉ hợp lệ' }}</ng-container>
            <ng-container *ngIf="form.get('name')?.hasError('maxlength')">{{ 'Không được quá 50 ký tự' }}</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="no-margin">
        <nz-form-label nzRequired nzSpan="6" nzFor="fromDate" class="font-medium"> Ngày bắt đầu </nz-form-label>
        <nz-form-control [nzErrorTip]="fromDateValueTpl">
          <nz-date-picker
            [nzPlaceHolder]="'Ngày bắt đầu'"
            formControlName="fromDate"
            nzFormat="dd/MM/yyyy"
            class="w-full"></nz-date-picker>
          <ng-template #fromDateValueTpl let-control>
            <ng-container *ngIf="!form.get('fromDate')?.value">{{ 'Trường này bắt buộc' }}</ng-container>
            <ng-container *ngIf="form.get('fromDate')?.hasError('dateRange')">{{ 'Từ ngày phải nhỏ hơn đến ngày' }}</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="no-margin">
        <nz-form-label nzSpan="6" nzRequired nzFor="reviewUserId" class="tw-font-medium">Ngày kết thúc</nz-form-label>
        <nz-form-control [nzErrorTip]="statusValueTpl">
          <nz-date-picker
            [nzPlaceHolder]="'Ngày kết thúc'"
            formControlName="toDate"
            nzFormat="dd/MM/yyyy"
            class="w-full"></nz-date-picker>
          <ng-template #statusValueTpl let-control>
            <ng-container *ngIf="!form.get('toDate')?.value">{{ 'Trường này bắt buộc' }}</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="no-margin">
        <nz-form-label nzSpan="6" nzRequired nzFor="name" class="font-medium">Là ngày nghỉ cố định</nz-form-label>
        <nz-form-control [nzErrorTip]="descriptionValueTpl">
          <label nz-checkbox formControlName="isAnnualHoliday" class="tw-font-medium"></label>
          <ng-template #descriptionValueTpl let-control>
            <ng-container *ngIf="!form.get('description')?.value">{{ 'Trường này bắt buộc' }}</ng-container>
            <ng-container *ngIf="form.get('description')?.hasError('whitespace')">{{ 'Vui lòng nhập mô tả hợp lệ' }}</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="no-margin">
        <nz-form-label nzSpan="6" nzRequired nzFor="name" class="font-medium">Mô tả</nz-form-label>
        <nz-form-control [nzErrorTip]="descriptionValueTpl">
            <textarea nz-input formControlName="description" placeholder="Mô tả" class="tw-w-full" [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
          <ng-template #descriptionValueTpl let-control>
            <ng-container *ngIf="!form.get('description')?.value">{{ 'Trường này bắt buộc' }}</ng-container>
            <ng-container *ngIf="form.get('description')?.hasError('whitespace')">{{ 'Vui lòng nhập mô tả hợp lệ' }}</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <div class="flex justify-end mt-4 gap-2">
        <button type="button" nz-button nzType="default" (click)="onDestroyModal()">Hủy</button>
        <button
          type="button"
          nz-button
          nzType="primary"
          [disabled]="form.invalid"
          (click)="create()"
          >
          Gửi
        </button>
      </div>
    </form>
  </div>
  