<div>
    @if (data.data) {
      <h2 class="text-xl font-medium">Edit Holiday</h2>
    } @else {
      <h2 class="text-xl font-medium">Add New Holiday</h2>
    }
    <form nz-form [formGroup]="form">
      <nz-form-item class="no-margin">
        <nz-form-label nzSpan="6" nzRequired nzFor="name" class="font-medium">Holiday Name</nz-form-label>
        <nz-form-control [nzErrorTip]="titleValueTpl">
          <input nz-input formControlName="name" id="name" class="tw-w-full" placeholder="Holiday Name" />
          <ng-template #titleValueTpl let-control>
            <ng-container *ngIf="!form.get('name')?.value">{{ 'This field is required' }}</ng-container>
            <ng-container *ngIf="form.get('name')?.hasError('whitespace')">{{ 'Please enter a valid holiday name' }}</ng-container>
            <ng-container *ngIf="form.get('name')?.hasError('maxlength')">{{ 'Cannot be more than 50 characters' }}</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="no-margin">
        <nz-form-label nzRequired nzSpan="6" nzFor="fromDate" class="font-medium"> Start Date </nz-form-label>
        <nz-form-control [nzErrorTip]="fromDateValueTpl">
          <nz-date-picker
            [nzPlaceHolder]="'Start Date'"
            formControlName="fromDate"
            nzFormat="dd/MM/yyyy"
            class="w-full"></nz-date-picker>
          <ng-template #fromDateValueTpl let-control>
            <ng-container *ngIf="!form.get('fromDate')?.value">{{ 'This field is required' }}</ng-container>
            <ng-container *ngIf="form.get('fromDate')?.hasError('dateRange')">{{ 'The start date must be before the end date' }}</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="no-margin">
        <nz-form-label nzSpan="6" nzRequired nzFor="reviewUserId" class="tw-font-medium">End Date</nz-form-label>
        <nz-form-control [nzErrorTip]="statusValueTpl">
          <nz-date-picker
            [nzPlaceHolder]="'End Date'"
            formControlName="toDate"
            nzFormat="dd/MM/yyyy"
            class="w-full"></nz-date-picker>
          <ng-template #statusValueTpl let-control>
            <ng-container *ngIf="!form.get('toDate')?.value">{{ 'This field is required' }}</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="no-margin">
        <nz-form-label nzSpan="6" nzRequired nzFor="name" class="font-medium">Is Fixed Holiday</nz-form-label>
        <nz-form-control [nzErrorTip]="descriptionValueTpl">
          <label nz-checkbox formControlName="isAnnualHoliday" class="tw-font-medium"></label>
          <ng-template #descriptionValueTpl let-control>
            <ng-container *ngIf="!form.get('description')?.value">{{ 'This field is required' }}</ng-container>
            <ng-container *ngIf="form.get('description')?.hasError('whitespace')">{{ 'Please enter a valid description' }}</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="no-margin">
        <nz-form-label nzSpan="6" nzRequired nzFor="name" class="font-medium">Description</nz-form-label>
        <nz-form-control [nzErrorTip]="descriptionValueTpl">
            <textarea nz-input formControlName="description" placeholder="Description" class="tw-w-full" [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
          <ng-template #descriptionValueTpl let-control>
            <ng-container *ngIf="!form.get('description')?.value">{{ 'This field is required' }}</ng-container>
            <ng-container *ngIf="form.get('description')?.hasError('whitespace')">{{ 'Please enter a valid description' }}</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <div class="flex justify-end mt-4 gap-2">
        <button type="button" nz-button nzType="default" (click)="onDestroyModal()">Cancel</button>
        <button
          type="button"
          nz-button
          nzType="primary"
          [disabled]="form.invalid"
          (click)="create()"
          >
          Send
        </button>
      </div>
    </form>
  </div>
  