<div class="login-container">
  <div class="login-form">
    <h2 class="text-2xl font-bold text-center mb-4">🐼 🦆 Login</h2>

    <form [formGroup]="loginForm">
      <!-- Email input -->
      <nz-form-item class="margin-0">
        <nz-form-control [nzErrorTip]="usernameValueTpl">
          <nz-form-label
            nzSpan="6"
            [nzFor]="'email'"
            nzRequired
            class="font-medium"
            >Email</nz-form-label
          >
          <input
            nz-input
            formControlName="username"
            id="username"
            placeholder="Enter your username"
            [ngClass]="{ 'input-focus': emailFocused }"
            (focus)="onFocusEmail()"
            (blur)="onBlurEmail()"
          />
          <ng-template #usernameValueTpl let-control>
            <ng-container *ngIf="control?.hasError('required')">
              <p>Email is required</p>
            </ng-container>
            <ng-container *ngIf="control?.hasError('whitespace')">
              <p>Please enter a valid email address</p>
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <!-- Password input -->
      <nz-form-item class="margin-0">
        <nz-form-control [nzErrorTip]="passwordValueTpl">
          <nz-form-label
            nzSpan="6"
            [nzFor]="'password'"
            nzRequired
            class="font-medium"
            >Password</nz-form-label
          >
          <nz-input-group [nzSuffix]="suffixNewPasswordTemplate">
            <input
              nz-input
              formControlName="password"
              id="password"
              [type]="!isNewPasswordVisible ? 'text' : 'password'"
              type="password"
              class="no-border-input"
              placeholder="Enter your password"
              [ngClass]="{ 'input-focus': passwordFocused }"
              (focus)="onFocusPassword()"
              (blur)="onBlurPassword()"
            />
            <ng-template #passwordValueTpl let-control>
              <ng-container *ngIf="control?.hasError('required')">
                <p>Password is required</p>
              </ng-container>
            </ng-template>
            <ng-template #suffixNewPasswordTemplate>
              <i
                nz-icon
                [nzType]="isNewPasswordVisible ? 'eye-invisible' : 'eye'"
                (click)="isNewPasswordVisible = !isNewPasswordVisible"
              ></i>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="mt-2">
        <nz-form-control>
          <p
            [routerLink]="'/sign-up'"
            class="text-blue-500 underline cursor-pointer"
          >
            Don't have account yet ? Sign up here
          </p>
        </nz-form-control>
      </nz-form-item>

      <!-- Submit button -->
      <!-- <button
        nz-button
        [nzType]="'primary'"
        (click)="loginWithDisCord()"
        class="w-full mt-3 pb-2"
      >
        Login with Discord
      </button> -->
      <button
        nz-button
        [nzType]="'primary'"
        (click)="login()"
        class="w-full mt-3 pb-2"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
    </form>
  </div>
</div>
