<div class="login-container">
  <div class="login-form">
    <h2 class="text-2xl font-bold text-center mb-4">🐼 🦆 Sign Up</h2>

    <form [formGroup]="signupForm" (ngSubmit)="signup()">
      <!-- FullName input -->
      <nz-form-item class="margin-0">
        <nz-form-control [nzErrorTip]="fullnameValueTpl">
          <nz-form-label nzSpan="6" [nzFor]="'fullname'" nzRequired
            >Full Name</nz-form-label
          >
          <input
            nz-input
            formControlName="fullname"
            id="fullname"
            placeholder="Enter your Full Name"
            [ngClass]="{ 'input-focus': fullnameFocused }"
            (focus)="onFocusFullname()"
            (blur)="onBlurFullname()"
          />
          <ng-template #fullnameValueTpl let-control>
            <ng-container *ngIf="signupForm.get('fullname')?.hasError('required')">
              <p>Full name is required</p>
            </ng-container>
            <ng-container *ngIf="signupForm.get('fullname')?.hasError('whitespace')">
              <p>Please enter a valid name</p>
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <!-- Username input -->
      <nz-form-item class="margin-0">
        <nz-form-control [nzErrorTip]="usernameValueTpl">
          <nz-form-label nzSpan="6" [nzFor]="'username'" nzRequired
            >Username</nz-form-label
          >
          <input
            nz-input
            formControlName="username"
            id="username"
            placeholder="Enter your username"
            [ngClass]="{ 'input-focus': usernameFocused }"
            (focus)="onFocusUsername()"
            (blur)="onBlurUsername()"
            (input)="removeLeadingWhitespace($event)"
          />
          <ng-template #usernameValueTpl let-control>
            <ng-container *ngIf="signupForm.get('username')?.hasError('required')">
              <p>Username is required</p>
            </ng-container>
            <ng-container *ngIf="signupForm.get('username')?.hasError('whitespace')">
              <p>Please enter a valid name</p>
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

       <!-- Email input -->
       <nz-form-item class="margin-0">
        <nz-form-control [nzErrorTip]="emailValueTpl">
          <nz-form-label nzSpan="6" [nzFor]="'email'" nzRequired
            >Email</nz-form-label
          >
          <input
            nz-input
            formControlName="email"
            id="email"
            placeholder="Enter your email"
            [ngClass]="{ 'input-focus': emailFocused }"
            (focus)="onFocusEmail()"
            (blur)="onBlurEmail()"
            (input)="removeLeadingWhitespace($event)"
          />
          <ng-template #emailValueTpl let-control>
            <ng-container *ngIf="signupForm.get('email')?.hasError('required')">
              <p>Email is required</p>
            </ng-container>
            <ng-container *ngIf="signupForm.get('email')?.hasError('whitespace')">
              <p>Please enter a valid email</p>
            </ng-container>
            <ng-container *ngIf="signupForm.get('email')?.hasError('email')">
              <p>Please enter a valid email</p>
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <!-- Password input -->
      <nz-form-item class="margin-0">
        <nz-form-control [nzErrorTip]="passwordValueTpl">
          <nz-form-label nzSpan="6" [nzFor]="'password'" nzRequired
            >Password</nz-form-label
          >
          <nz-input-group [nzSuffix]="suffixNewPasswordTemplate">
            <input
              nz-input
              formControlName="password"
              id="password"
              type="password"
              class="no-border-input"
              [type]="!isNewPasswordVisible ? 'text' : 'password'"
              placeholder="Enter your password"
              [ngClass]="{ 'input-focus': passwordFocused }"
              (focus)="onFocusPassword()"
              (blur)="onBlurPassword()"
            />
            <ng-template #passwordValueTpl let-control>
              <ng-container *ngIf="signupForm.get('password')?.hasError('required')">
                <p>Password is required</p>
              </ng-container>
            </ng-template>
            <ng-template #suffixNewPasswordTemplate>
              <i
                nz-icon
                [nzType]="isNewPasswordVisible ? 'eye-invisible' : 'eye'"
                (click)="isNewPasswordVisible = !isNewPasswordVisible"
              ></i>
            </ng-template>
          </nz-input-group>
          <p class="text-[12px] text-gray-500 mt-[2px]">
            Ex: Password must contain at least 8 characters, minimum 1 uppercase, 1 lowercase, 1 number
          </p>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="mt-2">
        <nz-form-control>
          <p
            [routerLink]="'/login'"
            class="text-blue-500 underline cursor-pointer"
          >
            Already have an account ? Sign in here
          </p>
        </nz-form-control>
      </nz-form-item>

      <!-- Submit button -->
      <button
        nz-button
        [nzType]="'primary'"
        class="w-full pb-1"
        [disabled]="signupForm.invalid"
      >
        Sign up
      </button>
    </form>
  </div>
</div>
