<div>
  <h2 class="text-xl font-medium">Update personal information</h2>
  <form nz-form [formGroup]="form">
    <nz-form-item class="no-margin">
      <nz-form-label nzSpan="6" nzRequired nzFor="name" class="font-medium"
        >Username</nz-form-label
      >
      <nz-form-control [nzErrorTip]="usernameValueTpl">
        <input
          nz-input
          formControlName="username"
          id="title"
          class="tw-w-full"
          placeholder="Username"
        />
        <ng-template #usernameValueTpl let-control>
          <ng-container *ngIf="!form.get('username')?.value">{{
            "This field is required"
          }}</ng-container>
          <ng-container *ngIf="form.get('username')?.hasError('whitespace')">{{
            "Please enter a valid name"
          }}</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="no-margin">
      <nz-form-label nzSpan="6" nzRequired nzFor="fullname" class="font-medium"
        >FullName</nz-form-label
      >
      <nz-form-control [nzErrorTip]="fullNameValueTpl">
        <input
          nz-input
          formControlName="fullname"
          id="title"
          class="tw-w-full"
          placeholder="Fullname"
        />
        <ng-template #fullNameValueTpl let-control>
          <ng-container *ngIf="!form.get('fullname')?.value">{{
            "This field is required"
          }}</ng-container>
          <ng-container *ngIf="form.get('fullname')?.hasError('whitespace')">{{
            "Please enter a valid name"
          }}</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="no-margin">
      <nz-form-label nzSpan="6" nzRequired nzFor="email" class="font-medium"
        >Email</nz-form-label
      >
      <nz-form-control [nzErrorTip]="fullNameValueTpl">
        <input
          nz-input
          formControlName="email"
          id="title"
          class="tw-w-full"
          type="email"
          placeholder="Email"
        />
        <ng-template #fullNameValueTpl let-control>
          <ng-container *ngIf="!form.get('email')?.value">{{
            "This field is required"
          }}</ng-container>
          <ng-container *ngIf="form.get('email')?.hasError('whitespace')">{{
            "Please enter a valid name"
          }}</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <div class="flex justify-end mt-4 gap-2">
      <button nz-button nzType="default" (click)="onDestroyModal()">Cancel</button>
      <button
        nz-button
        type="button"
        nzType="primary"
        [disabled]="form.invalid || form.pristine"
        (click)="update()"
      >
        Send
      </button>
    </div>
  </form>
</div>
